{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2>Armies</h2>
        </div>
    </div>
    <table id="armyTable" class="table table-hover">
        <thead>
            <tr class="table-info">
                <th>Army <button onclick="sortTable(0)"><span id="arrowArmy" class="arrow"></span></button></th>
                <th>Nation <button onclick="sortTable(1)"><span id="arrowNation" class="arrow"></span></button></th>
                <th>Quality <button onclick="sortTable(2)"><span id="arrowQuality" class="arrow"></span></button></th>
                <th>Size <button onclick="sortTable(3)"><span id="arrowSize" class="arrow"></span></button></th>
            </tr>
        </thead>
        <tbody>
            {% for force in forces %}
            <tr class="table-dark">
                <td>{{ force.force_name }}</td>
                <td>{{ force.nation.nation_name }}</td>
                <td>{{ force.quality.quality_name }}</td>
                {% if force.large %}
                <td>Large Army</td>
                {% else %}
                <td>Small Army</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("armyTable");
        switching = true;
        dir = "asc";
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("td")[n];
                y = rows[i + 1].getElementsByTagName("td")[n];
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>

{% endblock %}