{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2>Qualities</h2>
        </div>
    </div>
    <table id="qualityTable" class="table table-hover">
        <thead>
            <tr class="table-info">
                <th>Quality <button onclick="sortTable(0)"><span id="arrowQuality" class="arrow"></span></th>
                <th>Effects</th>
                <th>Aliases</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for quality in qualities %}
            <tr class="table-dark">
                <td>{{ quality.quality_name }}</td>
                <td>
                    <ul>
                        {% for effect in quality.effects_as_list() %}
                        <li>{{ effect }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ quality.quality_descriptors }}</td>
                <td>{{ quality.quality_description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("qualityTable");
        switching = true;
        dir = "asc";
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("td")[n];
                y = rows[i + 1].getElementsByTagName("td")[n];
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>
{% endblock %}